* {
  box-sizing: border-box;
}

:root {
  --primary-blue: #1f14b3;
  --secondary-blue: #2811fa;
  --btn-blue: #82b5f8;
  --large-shadow: 2px 2px 0px rgba(83, 81, 102, 0.4);
  --small-shadow: 1px 1px 0px rgba(83, 81, 102, 0.4);
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

/* __________________________HEADER/NAVBAR__________________________ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; top: 0;
  height: 100px;
  width: 100%;
  background: silver;
}

.retroshadow {
  padding: 0 40px;
  font-size: 3.4rem;
  font-weight: 300;
  color: var(--primary-blue);
  letter-spacing: .05em;
  text-shadow: var(--large-shadow);
}

.nav-links {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.nav-links ul {
  display: flex;
}

.nav-links li {
  display: flex;
  color: var(--primary-blue);
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: var(--small-shadow);
  margin: 0 20px;
  cursor: pointer;
}

.nav-links li:hover {
  color: var(--secondary-blue);
  text-shadow: none;
  transition: .4s;
}

/* _____________________________HOME_____________________________ */

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;;
  background-image: url("./images/home-content-bg_edited.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-info {
  text-align: center;
}

.home-info h1 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #000;
  text-shadow: var(--large-shadow);
  border-bottom: 2px solid #000;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.home-info p {
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.start-btn {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: var(--secondary-blue);
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.start-btn:hover {
  color: #000;
  background: transparent;
  border: 1px solid transparent;
  transition: .4s;
}

/* ____________________________ABOUT_____________________________ */

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem 8rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.about::-webkit-scrollbar {
  display: none;
}

.about h1 {
  font-size: 32px;
  padding: 0 8rem;
}

.about p {
  font-size: 22px;
  padding: 0 8rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* ____________________________SIGNUP____________________________ */

.signup-form-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.signup-form {
  text-align: start;
  width: 25em;
  padding: 40px;
  border: 3px solid purple;
}

.first, .last, .email, .password, .confirm {
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

/* .qc {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
} */

input {
  font-size: 14px;
  letter-spacing: 1px;
  width: 100%;
  height: 30px;
  padding: 6px;
  margin-bottom: 12px;
}

/* textarea {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 6px;
  width: 100%; 
  height: 10em;
} */

.sub-btn {
  
}

/* ____________________________FOOTER____________________________ */

footer {
  display: flex;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  background: silver;
}

footer h3 {
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--primary-blue);
  text-shadow: var(--small-shadow);
}

.svg {
  position: relative;
  top: 9px;
  width: 28px;
  margin: 2px;
  border-radius: 10px;
  padding: 1px;
}
